// Sliders
// ---------------------------------------------

.slider {
    @include reset-list;
    position: relative;
    img {
        width: 100%;
    }
    @media #{$breakpoint-md} {
        padding: 0 30px;
    }
}

.slider-wrap {
    position: relative;
}

.slider-controls {
    text-align: center;
    .next, .prev {
        z-index: 3;
    }
    @media #{$breakpoint-sm} {
        .next, .prev {
            display: none !important;
        }
    }
    @media #{$breakpoint-md-and-lg} {
        .next, .prev {
            position: absolute;
            font-size: 22px;
            top: 50%;
            margin-top: -0.5em;
        }
        .prev {
            left: -10px;
        }
        .next {
            right: -10px;
        }
        .pager {
            display: none !important;
        }
    }
    @media #{$breakpoint-lg} {
        .prev {
            left: -30px;
        }
        .next {
            right: -30px;
        }
    }
}


.pager {
    @include reset-list;
    > li {
        display: inline-block;
        &.is-active, &.slick-active {
            button {
                background: $color-white;
            }
        }
    }
    button {
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $color-brand;
        background: $color-brand;
        padding: 0;
        margin: 0 4px 0;
        @include fluid-transition;
    }
}

// Carousel
// ---------------------------------------------
$carousel-gutter: 30px;
$carousel-gutter-sm: 20px;

.slider-carousel {
    // Hide slide bleed
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        width: $carousel-gutter;
        background: $color-white;
        z-index: 2;
        @media #{$breakpoint-sm} {
            display: none;
        }
        @media #{$breakpoint-lg} {
            left: 0;
        }
    }
    @media #{$breakpoint-sm} {
        margin-left: - $carousel-gutter-sm;
        margin-right: - $carousel-gutter-sm;
        li {
            padding: 0 $carousel-gutter-sm;
        }
    }
    @media #{$breakpoint-md-and-lg} {
        margin-left: - $carousel-gutter;
        li {
            padding-left: $carousel-gutter;
        }
    }
}

// Slick Slider
// ---------------------------------------------
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
